
html, body {
  padding: 0;
  margin: 0;
  background-image: url(../img/about-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

span {
  font-size: 20px;
}
